USE [TranDuyNhanDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/20/2021 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/20/2021 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[UnitCost] [money] NULL,
	[Quantity] [int] NULL,
	[Category_ID] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 6/20/2021 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (N'camera-giam-sat', N'Camera giám sát, hành trình', N'Mô tả')
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (N'chuot-may-tinh', N'Chuột máy tính', N'Mô tả')
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (N'de-moc-dien-thoai', N'Đế, móc điện thoại', N'Mô tả')
GO
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Category_ID], [Image], [Status], [Description]) VALUES (N'10000mah-ava-la-y65-con-trau-vang', N'Pin sạc dự phòng 10.000mAh AVA LA Y65 Con Trâu Vàng', 400000.0000, 87, N'sac-dtdd', N'https://cdn.tgdd.vn/Products/Images/57/234502/234502-600x600.jpg', N'Còn hàng', N'Mô tả')
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Category_ID], [Image], [Status], [Description]) VALUES (N'1-2-nhua-deo-silicone-am11', N'Túi đựng Airpods 1 & 2 Nhựa dẻo Silicone AM11', 51000.0000, 68, N'tui-dung-airpods', N'https://cdn.tgdd.vn/Products/Images/7925/233368/tui-dung-airpods-1-2-nhua-deo-silicone-am11-070521-040532-600x600.jpg', N'Còn hàng', N'Mô tả')
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Category_ID], [Image], [Status], [Description]) VALUES (N'1-2-nhua-deo-silicone-ck-ap002', N'Túi đựng Airpods 1 & 2 nhựa dẻo Silicone CK-AP002 OSMIA', 51000.0000, 60, N'tui-dung-airpods', N'https://cdn.tgdd.vn/Products/Images/7925/233383/tui-dung-airpods-1-2-nhua-deo-silicone-ck-ap002-os-075421-045447-600x600.jpg', N'Còn hàng', N'Mô tả')
GO
INSERT [dbo].[UserAccount] ([ID], [Username], [Password], [Status]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'Normal')
INSERT [dbo].[UserAccount] ([ID], [Username], [Password], [Status]) VALUES (2, N'nhan', N'21232f297a57a5a743894a0e4a801fc3', N'Normal')
INSERT [dbo].[UserAccount] ([ID], [Username], [Password], [Status]) VALUES (3, N'ACC001', N'21232f297a57a5a743894a0e4a801fc3', N'Blocked')
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
